body {
  background-color: gray;
  /* background-image: {% static 'images/background.pdf' %}; */
  /* background-image:url("../images/stormsea.jpg"); */
  /* background-size: cover; */
  margin:0;
  padding:0;
  overflow-x: hidden;
}

p {
    color:black;
}

